<div class="container mx-auto">
  {{>authentication_station}}
  
  <div class="h-8"></div>

  {{#>page_title }}
    add albums
  {{/page_title}}

  <div class="h-4"></div>

  {{#>action_button_container}}
    {{#>action_button}}
      <%= link "back", to: Routes.core_path(@conn, :show, @core) %>
    {{/action_button}}
  {{/action_button_container}}

  <div class="h-4"></div>

  <div class="mx-auto w-full bg-gray-900 p-4 rounded">
    <div class="max-w-md">
      <%= form_for @conn, Routes.core_path(@conn, :show, @core), [as: :search], fn f -> %>
        <div class="space-y-4">
          <div class="space-y-8">
            <div class="space-y-2">
              <%= label f, :term, "search", class: "{{>style_form_label}}" %>
              <%= text_input f, :term, required: true, class: "{{>style_form_text_input}}", placeholder: "search" %>
            </div>
            <div>
              {{#>primary_button}}
                search
              {{/primary_button}}
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <%= if not is_nil(assigns[:search_results]) and length(assigns[:search_results]) > 0 do %>
    <div class="h-4"></div>
    <div class="grid grid-cols-3 gap-4">
      <%= for {artist, album} <- @search_results do %>
        <div class="space-y-2">
          <%= link to: "/albums/#{album.id}" do %>
            <div class="aspect-w-1 aspect-h-1">
              <img class="block rounded shadow-lg" src="<%= album.artwork_url %>" loading="lazy">
            </div>
          <% end %>
          {{>media title="<%= album.name %>" subtitle="<%= artist.name %>" }}
          {{#>action_button_container}}
            {{#>action_button }}
              <%= form_for @conn, "/cores/#{@core.id}/add",  [as: :core_album, class: "leading-none"],  fn f -> %>
                <%= hidden_input f, :core_id, value: @core.id %>
                <%= hidden_input f, :album_id, value: album.id %>
                <%= submit "add" , class: "" %>
              <% end %>
            {{/action_button}}
          {{/action_button_container}}
        </div>
      <% end %>
    </div>
  <% end %>


</div>
