<div class="container mx-auto">
  {{>authentication_station}}
  
  <div class="h-8"></div>

  {{#>page_title }}
    <%= @core.name %>
  {{/page_title}}

  <div class="h-2"></div>

  {{#>page_subtitle }} 
    <%= link to: Routes.user_path(@socket, :show, @core.user), class: "underline text-decoration-gray-500" do %>
      <%= @core.user.name %>
    <% end %>
  {{/page_subtitle}}

  <div class="h-4"></div>

  {{#>action_button_container}}
    {{#>action_button }}
      <%= link "back", to: Routes.core_path(@socket, :show, @core) %>
    {{/action_button}}
  {{/action_button_container}}

  <div class="h-4"></div>


  <%= if not is_nil(@core.description) do %>
    <div class="rounded p-3 bg-gray-900 w-full">
      <div class="max-w-md text-gray-100">
        <%= @core.description %>
      </div>
    </div>
    <div class="h-4"></div>
  <% end %>


  <div class="grid grid-cols-3 gap-4">
    <%= for album <- @core.albums do %>
      <div class="space-y-2">
        <%= link to: "/albums/#{album.id}" do %>
          <div class="aspect-w-1 aspect-h-1">
            <img class="block rounded shadow-lg" src="<%= album.artwork_url %>" loading="lazy">
          </div>
        <% end %>
        {{>media title="<%= album.name %>" subtitle="<%= album.artist.name %>" }}
        {{#>action_button_container}}
          {{#>action_button }}
            <div phx-click="delete" phx-value-album_id="<%= album.id %>">
              delete
            </div>
          {{/action_button}}
        {{/action_button_container}}
      </div>
    <% end %>
  </div>
</div>