<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    {{#>error_alert }}
      There were errors with your submission
    {{/error_alert}}
    <div class="h-2"></div>
  <% end %>

  <div class="space-y-1">
    <%= label f, :name, class: "text-gray-400 text-xs font-medium leading-none" do %>
      name
    <% end %> 
    <%= text_input f, :name, class: "text-input", placeholder: "name" %>
    <%= if error_map(@changeset)[:name] do %>
      <div class="text-red-500 text-sm">
        <%= error_map(@changeset)[:name] %>
      </div>
    <% end %>
  </div>

  <div class="h-4"></div>

  {{#>primary_button }}
    save
  {{/primary_button}}
<% end %>
