<div class="container mx-auto">
  {{> authentication_station}}

  {{#>page_title }}
    Cores
  {{/page_title}}
  
  <div class="h-2"></div>

  {{#> action_link }}
    <%= link "create", to: Routes.core_path(@conn, :new) %>
  {{/action_link}}


  <div class="h-4"></div>
  <div class="h-px w-full bg-white"></div>
  <div class="h-4"></div>

  <ul>
    <%= for core <- @cores do %>
      <li>
        {{#>action_link }}
          <%= link core.name, to: Routes.core_path(@conn, :show, core) %>
        {{/action_link}}
      </li>
    <% end %>
  </ul>

  <div class="h-5"></div>
  
</div>
