<div class="container mx-auto">
  <div class="h-4"></div>
  {{#> page_title }} 
    <%= @core.name %>
  {{/page_title}}

  <div class="flex">
    {{#> action_link }}
      <%= link "index", to: Routes.core_path(@conn, :index) %>
    {{/action_link}}
    <div class="w-1"></div>
    
    {{#> action_link }}
      <%= link "edit meta", to: Routes.core_path(@conn, :edit, @core) %>
    {{/action_link}}
    <div class="w-1"></div>
    
    {{#> action_link }}
      <%= link "add albums", to: "/cores/#{@core.id}/add" %>
    {{/action_link}}
    <div class="w-1"></div>
    
    {{#> action_link }}
      <%= link "edit albums", to: "/cores/#{@core.id}/albums/edit" %>
    {{/action_link}}
  </div>

  <div class="h-4"></div>

  <div class="grid grid-cols-3 gap-4">
    <%= for album <- @core_albums do %>
      <%= link to: "/albums/#{album.album_id}" do %>
        <img class="block rounded shadow-lg" src="<%= album.artwork_url %>">
      <% end %>
    <% end %>
  </div>
</div>
