<div class="overflow-hidden rounded">
  <table class="min-w-full">
    <thead class="bg-gray-900 border-b border-gray-800">
      <tr>
        {{>table_header_rows}}
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-800">
      {{>table_body_rows}}
    </tbody>
  </table>
</div>
