<div class="container mx-auto">
  {{>authentication_station}}
  
  <div class="h-4"></div>

  {{#>page_title }}
    <%= @album.name %>
  {{/page_title}}

  <div class="h-2"></div>

  {{#> page_subtitle }}
    <%= @album.artist.name %>
  {{/page_subtitle}}

  <div class="h-4"></div>

  <img class="block rounded shadow-lg" src="<%= @album.artwork_url %>">

  <div class="h-8"></div>

  {{#> page_title }}
    Found in...
  {{/page_title}}

  <div class="h-4"></div>

  {{#> list }}
    <%= for core <- @cores_with_album do %>
      {{#> list_item to="/cores/#{core.id}"}}
        <%= core.name %>
      {{/list_item}}
    <% end %>
  {{/list}}
</div>