<div class="container mx-auto">
  {{>authentication_station}}
  
  <div class="h-8"></div>
  
  <div class="w-full grid sm:grid-cols-2 gap-4 grid-cols-1">
    <%= for core <- @cores do %>
      {{>featured_core}}
    <% end %> 
  </div>
</div>