<div class="container mx-auto">
  <div class="h-5"></div>
  <h1 class="order-1 text-5xl leading-none font-extrabold text-gray-100">
    Create Core
  </h1>
  <span class="text-gray-100 underline">
    <%= link "Back", to: Routes.core_path(@conn, :index) %>
  </span>
  <div class="h-4"></div>
  <div class="bg-white overflow-hidden shadow sm:rounded-lg">
    <div class="p-4">
      <%= render "form.html", Map.put(assigns, :action, Routes.core_path(@conn, :create)) %>
    </div>
  </div>
</div>
